@model GeneticAlgorithm.Entities.Response.AlgorithmResultResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ResearchResult";
}

    <div class="row justify-content-center mt-4">
        <div class="col-6 bg-white p-3">
            <h2 class="text-center"> Работа алгоритма с выбранными параметрами </h2>
            <div>
                Среднее время работы: @Model.AlgorithmResponse.AvgTime сек
            </div>
            <div>
                Процент ошибок: @Model.AlgorithmResponse.Error %
            </div>
        </div>
    </div>



