@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="row justify-content-md-center h-100">
    <div class="col-md-6 col-md-offset-3 bg-white">
        <div>
            <a href="/research"> Поиск оптимальных параметров </a>
        </div>

        <div>
            <a href="/centergraph"> Найти центр графа </a>
        </div>
    </div>
</div>

