@model GeneticAlgorithm.Entities.Requests.LoginUserRequest
@{
    ViewBag.Title = "Регистрация";
}

<div class="row justify-content-center">
    <div class="col-lg-3 col-md-5 col-sm-8 mt-4 bg-white rounded">
        <!-- Form -->
        <form method="post" action="/login/signin" novalidate>
            
            <p class="h4 mb-4 mt-4 text-center"> Вход в аккаунт </p>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputLogin">Логин</label>        
                    <input type="text" class="form-control" name="login"
                           id="inputLogin" value="" required />
                    <div>
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("LOGIN_PASSWORD", new { @class = "text-danger text-center" })
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputPassword">Пароль</label>
                    <input type="password" class="form-control" name="password"
                           id="inputPassword" value="" required />
                    <div class="">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-4"> Войти </button>
        </form>
    </div>
</div>
