@model GeneticAlgorithm.Entities.Requests.CreateUserRequest 
@{
    ViewBag.Title = "SignUpSuccess";
}

<div class="row justify-content-center">
    <div class="col-8 mt-4 bg-white rounded">
        <h3> Регистрация пользователя @Model.Login прошла успешено. </h3> 
    </div>
</div>


