<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body class="">
    <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav">
                <li>
                    <a class="navbar-brand" href="/"> ГА </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graph"> Найти центр графа </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/research"> Изучить параметры алгоритма </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/graph/add"> Добавить граф </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/signup"> Добавить пользователя </a>
                    </li>
                }
            </ul>
            
            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link"> Ваш логин: @User.Identity.Name </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/SignOut"> Выйти </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Войти</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
