@{
    ViewBag.Title = "AddGraph";
}

    <div class="row justify-content-center mt-2">
        <div class="col-4">
            @using (Html.BeginForm("Add", "Graph"
                    , FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="text-center">
                    <h4> Добавить граф </h4>
                    <div>
                        В файле на каждой строке должны находиться два числа - начало и конец ребра.
                        Нумерация вершин начинается с нуля. Число вершин не должно превышать 2500.
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="">  Файл с графом </label>
                    <input type="file" data-tooltip="Привет" name="upload" accept=".txt" class="form-control">
                </div>
                <div class="form-group">
                    <label for=""> Название графа </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div> <button type="submit" class="btn btn-primary"> Отправить </button> </div>
            }
        </div>
    </div>