@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FindCenter";
}

    <div class="row justify-content-center mt-2">
        <div class="col-4">
            @using (Html.BeginForm("FindCentralVertex", "Graph"
                    , FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="text-center">
                    <h4> Поиск центра графа </h4>
                    <div>
                        В файле на каждой строке должны находиться два числа - начало и конец ребра.
                        Нумерация вершин начинается с нуля. Число вершин не должно превышать 2500.
                    </div>
                    <div>
                        Генетический алгоритм запускается с параметрами Pc = 0.4, Pm = 0.4, N = 30
                    </div>
                </div>
                <br />    
                <div class="form-group">
                    <label for="">  Файл с графом  </label>
                    <span> <a class="infolink"> </a> </span>
                    <input type="file" data-tooltip="Привет" name="upload" accept=".txt" class="form-control">
                </div>
                <div> <button type="submit" data-tooltip="Привет" class="btn btn-primary"> Отправить </button> </div>
            }
        </div>
    </div>


